@{
    ViewBag.Title = "Contact";
}
<h2>Student Contact</h2>
<h3>Lab 2</h3>

<h1> Eric Draper </h1>

<address>
    <strong>Support:</strong>   <a href="mailto:10509159@my.uvu.edu">10509159@my.uvu.edu</a><br />
</address>